@use"../../presets" as*;
@use"../../mixins" as*;
.about{
    background-color:$color-gray-light ;
    margin-top: 30px;
    padding-bottom:82px;
    padding-top: 100px;
    &__container{
        display: grid;
        max-width:$ul;
        margin-left: auto;
        margin-right: auto;
        padding-left: $gap;
        padding-right: $gap;
        gap: 100px;
        grid-template-columns: 1fr 275px;
        grid-template-areas:"a1 a2";
        
        }
     &__image{  
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;  
      margin-bottom: 5px;
      transform: scale(0.985)  translate(1.5px , -7px);

      }

     &__content{
        max-width: 1340px;
        font-size: 18px;
        letter-spacing: 0.055em;
        color:$color-gray;
        font-weight: 400;
        font-family: "Roboto";
        padding-right:0;
}
      &__divizion{
        position: absolute;
        width: 2px;
        height:200px;
        background-color:#707070;
        margin-left: 20px;
        margin-right: 200px;
        opacity:0.1;
        top:144px;
        left:-73.5px;
      }
      &__title{
        font-size: 40px;
        letter-spacing: 4px;
        line-height: 48px;
        color: $color-primary;
        font-weight: 700;
        font-family: "Roboto Slab";
        margin-top: 0;
        margin-bottom: 43px;
      }
}