@use"../../presets" as*;
@use"../../mixins" as*;
.form{
    width: 100%;

    background-color:$color-primary;
    padding-top: 30px;
    padding-bottom: 30px;
    &-btn{
        width: 100%;
        color:$color-light;
        border-color:$color-primary;
        border-bottom-color: rgba($color-light, 0.25);
        background-color:rgba($color-light, 0.1);
        &:hover{
           border: 2px solid $color-light; 
           cursor: pointer;
        }
    }

    &-container{ 
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-areas:"in1 in2 in3";
     gap: 20px;
     max-width:$ul;
     margin-left: auto;
     margin-right: auto;
     padding-left: $gap;
     padding-right: $gap; 
 
     
     @media(max-width:992px){
       grid-template-columns: repeat(3, 1fr);
       grid-template-areas:"in1 in2 in3";
       }    
    
     @media(max-width:768px){
       grid-template-columns: repeat(2, 1fr);
       grid-template-areas:"in1 in1" "in2 in3";
       }
 
       @media(max-width:576px){
        grid-template-columns:  1fr;
        grid-template-areas:"in1" "in2" "in3";
        
        }

    }

    &-item{  
      font-size: 1.125rem;
      
      &__input{
        display: block;
        box-sizing: border-box;
        height: 60px;
        width: 100%;
        color:$color-light;
        border: 2px solid $color-primary;

        border-bottom-color: rgba($color-light, 0.25);
        background-color:rgba($color-light, 0.05);
        padding-left: 30px;
        padding-right: 30px;
        transition: 0.5s;

        &:hover,
        &:focus {
            border-color: rgba($color-light, 0.15) ;
            border-bottom-color:$color-light;
            background-color: rgba($color-light, 0.15);
            outline: 0;
            color:rgba($color-light,0.15);
            }





        }
    }
}

.form-item__input::placeholder{
    color: #637588;
    font-size: 18px;
    letter-spacing: 2.7px;
    line-height: 39px;
    font-weight: 400;
    font-family: "Roboto";
}
.form-item__input:hover::placeholder,
.form-item__input:focus::placeholder
{
    color: #8c9bab;

}

.form-item:nth-of-type(1){
  grid-area: in1;
}
.form-item:nth-of-type(2){
  grid-area: in2;
}
.form-item:nth-of-type(3){
  grid-area: in3;
}