@use"../../presets" as*;
@use"../../mixins" as*;
.header-content {
  position: relative;
  z-index: 1;

  &__title {
    text-align: center;

    @include lg-min {
      margin: 0 0 50px 0;
    }
    @include lg-md {
      margin: 0 0 40px 0;
    }
    @include md {
      margin: 0 0 30px 0;
    }
  }

  &__container {
    margin-top: -2.5px;

    @extend %container;
  }

  &__actions {
    display: flex;
    justify-content: center;

    gap: $gap;
    @include sm {
      align-items: center;
      flex-direction: column;
    }
  }
}
