@use"../../presets" as*;
@use"../../mixins" as*;
.header-navbar{
    display: grid; 
    justify-items: end;
    font-size: 18px;
    letter-spacing: 2px;
    &__list{
        @include unlist(0 (-$gap-sm) 0 0);
        //display: flex;   
        //justify-content: flex-end;
        //gap: $gap;
        display: grid;   
        grid-template-columns: repeat(auto-fit, minmax(30px,max-content));
        gap: $gap;
        justify-content:end;
        width: 100%;
        }

    &__link{
        display: block;
        padding: $gap-sm;
        font-size:1.125rem;
        letter-spacing:0.088em;
        transition:color 0.5s;

        &:hover,
        &:focus{
            color:$color-accent ;
        }
        }
    &__btn{
        display: none;
    }
}